.about {
  min-height: 100vh;
  background: linear-gradient(rgba(99,199,182,.8), rgba(99,199,182,.8)), url('/about-photo.jpg');
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 4rem 1rem 2rem;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.symbol {
  width: 25vw;
}

@media screen and (min-width: 1024px) {
  .content {
    width: 50vw;
  }
  .symbol {
    width: 10vw;
  }
}
