.blog {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}


.blog h2 {
  margin-bottom: .5rem;
}

.latest {
  display: flex;
  height: 40vh;
  justify-content: space-between;
}

.latest img {
  flex: auto;
  object-fit: cover;
}

.latest > .post {
  min-width: 200px;
}

.title {
  color: #63C7B6;
}

.title:hover {
  color: #000000;
}

.post {
  background-color: white;
  flex-basis: 32%;
  flex-basis: 30%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: flex-start;
}

.preview {
  padding: 1rem;
  flex-basis: 32%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.preview img {
  height: 200px;
  object-fit: cover;
}

.readmore {
  align-self: flex-end;
  color: #63C7B6;
  font-weight: 500;
  margin-top: auto;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #63C7B6;
  padding: .3rem .5rem;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.readmore:hover {
  color: #000000;
}

@media (min-width: 1439px) {
  .blog {
    font-size: 1rem;
  }
}

.date {
  font-style: italic;
  font-weight: 500;
}

.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }

  .latest {
    display: none;
  }

  .posts {
    flex-direction: column;
    margin-top: 0;
  }
}
