.bookings {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000000;
  background: #fdfdfd;
  text-align: center;
  padding: 0 0 2rem;

}

.text {
  margin: 1rem 1.5rem;
}


@media screen and (min-width:1024px) {
  .text {
    margin: 2rem 2.5rem;
  }
}

@media screen and (min-width:1440px) {
  .text {
    margin: 3rem 3.5rem;
  }
}
