.contact {
  min-height: 85vh;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fdfdfd;
  font-size: 95%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin: .5rem 0;
}

.container a {
  color: #63C7B6;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #63C7B6;
  position: relative;
  align-self: flex-end;
  margin-top: auto;
  height: 80px;
  z-index: 10;
}

.footer img {
  width: 60px;
  position: absolute;
  bottom: 15px;
}

@media screen and (min-width: 769px) {
  .container {
    text-align: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
