/* @font-face {
  font-family: 'Uni Neue';
  src: url('/fonts/UniNeue/UniNeueRegular.ttf');
}
@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani/Rajdhani-Regular.ttf');
} */

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: "Uni Neue"; */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

main {
  width: 100%;
}

