.home {
  background-color: #63C7B6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.text {
  padding: .7rem 1.2rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 85%;
}

.text p {
  margin: .5rem 0;
}

.photo {
  object-fit: cover;
  order: -1;
}

.title {
  margin: .5rem 0;
}

.link {
  color: #4dddc4;
  color: #373a47;
  font-weight: 500;
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .home {
    height: 70vh;
    background-color: #63C7B6;
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: initial;
  }

  .container {
    -webkit-box-shadow: 6px 8px 8px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 8px 0 rgba(0,0,0,0.75);
    box-shadow: 6px 8px 8px 0 rgba(0,0,0,0.75);
    display: flex;
    justify-content: initial;
    align-items: initial;
    height: 70vh;
    flex-direction: row;
    min-height: 700px;
  }

  .photo,
  .text {
    flex-basis: 50%;
    height: 100%;
  }

  .text {
    padding: .7rem 1.5rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    text-align: right;
    line-height: 1.5rem;
    font-size: initial;
  }

  .text p {
    width: 85%;
    margin: .5rem 0;
  }

  .photo {
    object-fit: cover;
    order: 1;
  }

  .title {
    margin: revert;
  }

}
@media screen and (min-width: 1920px) {
  .text p {
    width: 70%;
  }
}
