.singlePost {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;

  padding: 1rem;
}

.headerimage {
  height: 50vh;
  object-fit: cover;
}

.date {
  font-style: italic;
  font-weight: 500;
}


.screenshots {
  margin-bottom: 2rem;
}

.link {
  color: #4dddc4;
  color: #373a47;
  font-weight: 500;
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .singlePost {
    padding: 2rem;
  }

}

/* carousel bullet styles */

.awssld__bullets {
  position: absolute;
  bottom: -40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.awssld__bullets button {
  padding: 0;
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background: var(--control-bullet-color);
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color .175s ease-out, -webkit-transform .225s cubic-bezier(0.8, 1.35, 0.75, 1.45);
  transition: background-color .175s ease-out, -webkit-transform .225s cubic-bezier(0.8, 1.35, 0.75, 1.45);
  transition: transform .225s cubic-bezier(0.8, 1.35, 0.75, 1.45), background-color .175s ease-out;
  transition: transform .225s cubic-bezier(0.8, 1.35, 0.75, 1.45), background-color .175s ease-out, -webkit-transform .225s cubic-bezier(0.8, 1.35, 0.75, 1.45);
}

.awssld__bullets button:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.awssld__bullets .awssld__bullets--loading {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.awssld__bullets .awssld__bullets--active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  background: var(--control-bullet-active-color);
}

.awssld__bullets .awssld__bullets--active:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}