.filters {
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.filter {
  border: none;
  font: inherit;
  color: inherit;
  background-color: #000000;
  padding: .3rem .5rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin: .5rem .5rem .5rem 0;
}

.active {
  background-color: #ffffff;
  color: #000000;
}

.works {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #63C7B6;

}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview {
  background-color: #ffffff;
  position: relative;
  margin-bottom: 1rem;
}

.preview:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  opacity: .5;
}

.excerpt {
  padding: 1rem;
  line-height: 1.2rem;
}

.title {
  color: #63C7B6;
}


.image {
  height: 30vh;
  object-fit: cover;
}
@media screen and (min-width: 769px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
    grid-template-rows: repeat(auto-fill, 1fr);
  }

  .preview {
    margin: .2rem .2rem .2rem 0;
  }
}

