.container {
  background-color: #63C7B6;
  padding: 4rem 1rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nopadding {
  padding: 0;
}

.blog {
  /* padding: 0;
  
position: absolute;
top: ; */
  /* background-color: #63C7B6; */
  padding: 4rem 1rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('/landing-photo.jpg');
  background-size: cover;
  background-position: center;
}

.header {
  /* padding: 2rem 18vw 2rem 22vw; */
  /* height: 6rem; */
  display: flex;
  justify-content: space-between;
  background-color: #63C7B6;
  /* margin-top: -2rem; */
  width: 100%;

  /* outline: 1px solid white; */
}

.menu {
  padding: 2rem 0;

  position: relative;
}

.about {
  /* padding: 2rem 18vw 2rem 22vw; */
  /* height: 6rem; */
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  color: #ffffff;
  padding: 0 2rem;
}

.nav,
.social {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  padding: 0;
}

.nav {
  margin-left: 5rem;
  font-family: 'Uni Neue', sans-serif;
  padding-top: 2rem;
}

.social {
  padding-top: 2rem;
  /* margin-top: 1rem; */
}

.nav li {
  margin: 0 1rem 0 0;
  /* font-weight: 500; */
}

.social li {
  margin: 0 .6rem;
  padding: 0;
}

.social li:last-of-type {
  margin-right: 0;
}

.social a {
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  color: white;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  /* display: none; */
  /* margin-top: -2rem; */
}

.link:hover {
  color: black;
  text-decoration: underline;
}

.link {
  color: white;
  font-weight: 500;
}

.activeLink {
  /* color: #000000; */
  font-weight: 500;
  background-color: #000000;
  padding: .3rem .7rem;
}

.activeLink:hover {
  color: black;
  background-color: #ffffff;
  text-decoration: underline;
}

.icon {
  width: 1.4rem;
  /* vertical-align: bottom; */
}

.socialIcon {
  width: 1.5rem;
  vertical-align: bottom;

}

.social a:hover > svg * {
  fill: #000000;
}

.socialMobile {
  margin-top: auto;
  display: flex;
  list-style: none;
  margin: 0;
  align-items: flex-start;
}

.mobile {
  display: none;
}

.mobile li {
  margin: 0 .8rem;
}


@media screen and (max-width: 1023px) {
  .mobile {
    display: block;
  }

  .about,
  .header {
    display: none;
  }

}
@media screen and (min-width: 1024px) {
  .container {

    padding: 0 6rem 2rem;
  }

  .about {
    padding: 0 6rem 2rem;
  }
  /* .about {

    padding: 0 6rem;
  } */

  .about,
  .header {
    margin-bottom: 3rem;
  }

}
@media screen and (min-width: 1440px) {
  .about,
  .container {

    padding: 0 12rem 2rem;

  }

  .logo {
    /* left: 22vw; */
  }

}
@media screen and (min-width: 1920px) {
  .about,
  .container {

    padding: 0 24rem 2rem;

  }

  .nav li {
    font-size: 1.1rem;
    /* font-weight: revert; */
  }

}
@media screen and (min-width: 2560px) {
  .about,
  .container {

    padding: 0 36rem 2rem;

  }
}
